body {
    cursor: url('magquestion_pixel.png'), auto;
}

.heading {
    color: black; 
    font-size: 128px; 
    font-family: "PP Mondwest"; 
    font-weight: 400; 
    word-wrap: break-word
}

div.col{
    border: 1px solid black;
}

div.row {
    display: flex;
    flex-wrap: wrap;
}

.header{
    position: fixed;
    z-index: 999;
    background-color: white;
    width: 100%;
    padding: 10px;
    font-size: 20px;
    word-spacing: 25px;
    padding-left: 25px;
    font-family: Arial, Helvetica, sans-serif;
}

span.arc {
    font-family: "arc";
    font-size: 100px;
}

span.cirrus {
    font-family: "cirrus";
    font-size: 100px;
}

span.readyactive {
    font-family: "readyactive";
}

span.readyactive:hover{
    font-family: "arc";
    font-size: 140px;
}

span.kepler {
    font-family: "keplercond", serif;
}

span.neue {
    font-family: "neuehaas", sans-serif;
}

span.giddy {
    font-family: "giddyup-std", sans-serif;
}

span.rad {
    font-family: "rad", sans-serif;
}



@font-face {
    font-family: "arc", serif;
    src: url(ARCDEMO-Regular.ttf);
}

@font-face {
    font-family: "PP Mondwest";
    src: url(PPMondwest-Regular.woff);
}

@font-face {
    font-family: "PP NeueBit";
    src: url(PPNeueBit-Bold.woff);
}

@font-face {
    font-family: "cirrus";
    font-style: normal;
    src: url(CirrusCumulus.woff);
}

@font-face {
    font-family: "readyactive";
    font-style: normal;
    src: url(ReadyActiveTest-Light.woff);
}

@font-face {
    font-family: "keplercond", serif;
    font-weight: 400;
    font-style: normal;
    src: url(https://use.typekit.net/asz3voo.css);
}

@font-face {
    font-family: "neuehaas", sans-serif;
    font-weight: 600;
    font-style: normal;
    src: url(https://use.typekit.net/asz3voo.css);
}

@font-face {
    font-family: "giddyup-std", sans-serif;
    font-weight: 400;
    font-style: normal;
    src: url(https://use.typekit.net/asz3voo.css);
}

@font-face {
    font-family: "rad", sans-serif;
    font-weight: 400;
    font-style: normal;
    src: url(https://use.typekit.net/asz3voo.css);
}






span.fontanimation {
    animation: fontchange 20s infinite alternate;
    animation-delay: 2s;
}

@keyframes fontchange {
    0% {
        font-family: "readyactive";
        font-size: 180px;
    }
    25% {
        font-family: "cirrus";
        font-size: 170px;
    }
    50% {
        font-family: "arc", serif;
        font-size: 170px;
    }
    75% {
        font-family: "rad", sans-serif;
        font-size: 170px;
    }
    90% {
        font-family: "keplercond", serif;
        font-size: 170px;
    }
} 

@keyframes searching {
    0% { content:"Searching...";}
    100% { content:"Watching....";}
}


div.width100{
    width: 100%;
}

div.width80{
    width: 80%;
}

div.width75{
    width: 75%;
}

div.width66{
    width: 66.6%;
}

div.width60{
    width: 60%;
}

div.width50{
    width: 50%;
}

div.width40{
    width: 40%;
}

div.width33 {
    width: 33.333%;
}

div.width30 {
    width: 30%;
}

div.width27 {
    width: 27%;
}

div.width26 {
    width: 26%;
}

div.width25 {
    width: 25%;
}

div.width20 {
    width: 20%;
}

div.width16{
    width: 16.66%;
}

div.width14{
    width: 14%;
}

div.width12{
    width: 12%;
}

div.width10{
    width: 10%;
}